.flex
{
  display: flex;
  background-color: lightgray;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}
.flex1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img
{
  border-radius: 20px;
}
.main
{
  padding-left: 20px;
}
